<h1>Welcome to the Grand Circuls Car Dealership!</h1>
<br>
<h3>Search cars by Make, Model, Year, Color, or any combination!</h3>
<br>

<form action="/Car/SearchForCars" method="post">
    Make:  <br>
    <input type="text" name="Make" /><br><br>
    Model: <br>
    <input type="text" name="Model" /><br><br>
    Year:  <br>
    <input type="number" name="Year" /><br><br>
    Color: <br>
    <input type="text" name="Color" /><br><br>
    <input type="submit" name="submit" value="Search" />

</form>

